body {
  margin: 0;
  padding: 0;
  background-color: #f6f7f6;
}

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 87px;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

.logo {
  position: absolute;
  left: 25px;
  top: -3px;
  width: 90px;
  height: 90px;
}

.header-scrolled {
  background-color: #f6f7f6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.hero .container {
  position: relative;
  z-index: 2;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header nav {
  margin-left: auto;
}

.jardin-image {
  width: 100%;
  height: auto;
}

/* Основные стили модального окна */
.modal {
  display: none; /* По умолчанию скрыто */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

/* Контент модального окна */
.modal-content {
  background-color: #f6f7f6;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  position: relative;
}

/* Кнопка закрытия */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Кнопка "BOOK" */
.book-button {
  position: absolute;
  top: 22.5px;
  right: 50px;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 500; /* To mimic the bold clean look */
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: black;
  background-color: #e0c900;
  padding: 12px 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.book-button:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
}
