<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Monarque{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='custom.css') }}"
    />
  </head>
  <body>
    <header id="header">
      <div class="container">
        <a href="{{ url_for('index') }}">
          <img class="logo"
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="Monarque"
          />
        </a>
        <nav>
          <a class="book-button" href="#">BOOK</a>
        </nav>
      </div>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <div class="container">
        <p></p>
        Monarque restaurant promises to bring to your plate
          the finest that nature has to offer, with a menu based on fresh, high
          quality, local ingredients.
        </p>
      </div>
    </footer>

    <div id="bookingModal" class="modal">
      <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <h2>Бронирование</h2>
        <form>
          <label for="date">Дата:</label>
          <input type="date" id="date" required />

          <label for="guests">Количество гостей:</label>
          <input type="number" id="guests" min="1" required />

          <label for="time">Время:</label>
          <input type="time" id="time" required />

          <button type="submit">Забронировать</button>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
